/*----Preloading----*/

#preloading{
    background-color: #030B15;
    animation: preloading 2s cubic-bezier(0.46,-0.79, 0.49, 2.12);
    animation-fill-mode: forwards;
}
.spinner > div {
    background-color: #00c2f2; 
    animation-timing-function: ease-in-out;     
}
.rec1{
    animation: scaling 0.4s;
}
.rec2{
    animation: scaling 0.4s 0.1s;
}
.rec3{
    animation: scaling 0.4s 0.2s;
}
.rec4{
    animation: scaling 0.4s 0.3s;
}
.rec5{
    animation: scaling 0.4s 0.4s;
}

/*----Header----*/

header{
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}
.header__container{
    /* background-color:  #050b15; */
}
.main__menu{
    font-size: 14px;
}
.main__menu li a{
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    
}
.main__menu>li>a:hover, .home__list>a:hover,.blog__list>a:hover {
    color: hsl(192 100% 48%);
}
.home{
    color: hsl(192 100% 48%);
}
.home:hover .home__list, .blog:hover .blog__list{
    opacity: 1;
    transform: scale(1);
}
.home__list, .blog__list{
    color: #fff;
    background-color: #0b1d33;
    line-height: 3;
    border: 1px solid rgba(255, 255, 255, 0.07);
    opacity: 0;
    transform: scale(1,0);
    transform-origin: top center;
    transition: all 0.3s ease-in-out;
}
#langue{
    font-size: 16px;
}
#langue a{
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}
#langue>ul{
    list-style: none;
    line-height: 1.8;
    box-sizing: border-box;
    padding: 10px 45px 10px 15px;
    border-radius: 5px;
    background: #0B1D33;
    visibility: hidden;
    transform-origin: top center;
    opacity: 0;
    transform: perspective(400px) rotateX(-45deg);
    transition: 0.5s;
}
#langue:hover ul{
    visibility: unset;
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
}
#langue>ul>li>a:hover {
    color: hsl(192 100% 48%);
}
.chevron i{
    color:hsl(192 100% 48%);
    display: block;
    font-size: 10px;
}
.header__action>p{
    background-color: #464858;
}
.buy a{
    text-decoration: none;
}
.buy p {
    color: #fff;
    background-color: #00c4f4;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
}
.buy p:hover{
    background-color: #6f42c1;
}


/*--mobile menu--*/

.mobile__menu__icon i{
    color: #fff;
}
.mobile__menu{
    background-color: hsl(213 65% 12%);
    font-size: 14px;
}
.mobile__bgr{
    background-color: #0b1d33;
    /* opacity: 0.8; */
}
.close i{
    font-size: 20px;
    color: #00c4f4;
}
.menu__baby li{
    list-style: none;
}
.menu__baby>li{
    list-style: none;
    border-top: solid 1px rgb(255 255 255 / 10%);
}
.chevron__blog>i, .chevron__home>i{
    background-color: #00c4f4;
    font-size: 12px;
    font-weight: 900;
    border-radius: 2px;
}
.menu__contact{
    border-top: solid 1px rgb(255 255 255 / 10%);
}
.menu__contact a{
    text-decoration: none;
}
.menu__contact li i{
    border: 1px solid rgb(255 255 255 / 10%);
    color: #fff;
    border-radius: 3px;
}
.fb:hover, .twt:hover, .in:hover, .lkn:hover, .ytb:hover{
    background-color: #00c4f4;
    -webkit-border-radius: 3px;
}
#open__menu:checked~.mobile__menu{
    display: unset;
    animation: open__menu 0.6s;
    animation-fill-mode: forwards;
}
#open__menu:checked~label .mobile__bgr{
    animation: unhind 0.6s;
    display: unset;
    animation-fill-mode: forwards;
}


/*----Banner----*/

.banner__content{
    color: #fff;
    font-size: 58px;
    font-weight: 600;
    font-family: Poppins;
    letter-spacing: 1px;
    letter-spacing: -0.03em;
    animation: banner__content 2s 0s;
}
.linkedin, .twitter, .pinterest, .intargram{
    border-radius: 50px;
    border: 1px solid #F3F3F3;
}
.banner__contact>div i{
    color: #081A39;

}
.scroll__content{  
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.515em;
    color: #081A39;
    opacity: 0.4;
}


/*----Count down----*/

.cd__container{
    background-color: #fff;
    box-shadow: 0px 34px 35px rgba(160, 171, 191, 0.21);
    border-radius: 20px;
}
.cd__container>p{
    color: #030B15;
    letter-spacing: -0.01em;
    font-size: 26px;
    margin-bottom: 35px;
    line-height: 1.88;
    font-weight: 600;
}
.number{
    font-size: 35px;
    font-weight: 600;
    color: #030B15;
    font-family: Poppins;
}
.time span{
    font-size: 14px;
    font-family: Outfit;
    color: #030B15;
    font-weight: 500;
    line-height: 1;
}
.day{
    border: solid 7px #56c4f4;
}
.hour{
    border: solid 7px #f2970f;
}
.minute{
    border: solid 7px #ee4682;
}
.second{
    border: solid 7px #56d175;
}


/*----About----*/

.about__img{
    animation: about__img 2s 0.2s;
}
.information{
    animation: information 2s 0.2s;
}
.h1{
    color: #6f42c1;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.28px;
    line-height: 24.5px;
}
.about__title{
    font-size: 45px;
    color: #030B15;
    line-height: 1.26;
    letter-spacing: -0.01em;
    font-family: Poppins;
    font-weight: 600;
}
.h2{
    color: #727885;
    font-size: 16px;
    line-height: 1.75;
}
.fa-solid{
    color: #564DCA;
    margin-right: 10px;
}
.about__download a{
    text-decoration: none;
}
.about__download p{
    color: #fff;
    background: #564DCA;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.about__download p:hover{
    background-color: #00C4F4;
}
.img__one{
    animation-name: img__one;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.img__two{
    animation: img__two 10s infinite linear;
}



/*----Why chose----*/

.why__title{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}
.why__maintitle{
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 1.2;
}
.why__content a{
    text-decoration: none;
}
.why__content p{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    font-family: Poppins;
    line-height: 1.27;
    letter-spacing: 0.8px;
}
.why__content p:hover{
    color: #00C4F4;
}
.why__content span{
    font-size: 15px;
    line-height: 22px;
    color: #A4B4C3;
}
.mobile{
    animation: mobile 1s 0.2s;
}
.lifetime{
    animation: lifetime 1.5s 0.2s;
}
.protect{
    animation: protect 2s 0.2s;
}
.sercurity{
    animation: sercurity 2.5s 0.2s;
}


/*----Count area----*/

.counter__container p{
    color: #030B15;
    letter-spacing: -0.02em;
    font-size: 48px;
    font-weight: 600;
    line-height: 0.85;
    margin-bottom: 8px;
}
.counter__container span{
    color: #646580;
    font-size: 16px;
    line-height: 1.6;
}