/*----Preloading----*/

#preloading{
    background-color: #030B15;
    animation: preloading 2s cubic-bezier(0.46,-0.79, 0.49, 2.12);
    animation-fill-mode: forwards;
}
.spinner > div {
    background-color: #00c2f2; 
    animation-timing-function: ease-in-out;     
}
.rec1{
    animation: scaling 0.4s;
}
.rec2{
    animation: scaling 0.4s 0.1s;
}
.rec3{
    animation: scaling 0.4s 0.2s;
}
.rec4{
    animation: scaling 0.4s 0.3s;
}
.rec5{
    animation: scaling 0.4s 0.4s;
}

/*----Header----*/

header{
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}
.header__container{
    /* background-color:  #050b15; */
}
.main__menu{
    font-size: 14px;
}
.main__menu li a{
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    
}
.blog{
    cursor: pointer;
}
.main__menu>li>a:hover, .home__list>a:hover,.blog__list>a:hover {
    color: hsl(192 100% 48%);
}
.blog:hover{
    color: #00C4F4;
}
.home{
    color: hsl(192 100% 48%);
}
.home:hover .home__list, .blog:hover .blog__list{
    opacity: 1;
    transform: scale(1);
}
.home__list, .blog__list{
    color: #fff;
    background-color: #0b1d33;
    line-height: 3;
    border: 1px solid rgba(255, 255, 255, 0.07);
    opacity: 0;
    transform: scale(1,0);
    transform-origin: top center;
    transition: all 0.3s ease-in-out;
}
#langue{
    font-size: 16px;
}
#langue a{
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}
#langue>ul{
    list-style: none;
    line-height: 1.8;
    box-sizing: border-box;
    padding: 10px 45px 10px 15px;
    border-radius: 5px;
    background: #0B1D33;
    visibility: hidden;
    transform-origin: top center;
    opacity: 0;
    transform: perspective(400px) rotateX(-45deg);
    transition: 0.5s;
}
#langue:hover ul{
    visibility: unset;
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
}
#langue>ul>li>a:hover {
    color: hsl(192 100% 48%);
}
.chevron i{
    color:hsl(192 100% 48%);
    display: block;
    font-size: 10px;
}
.header__action>p{
    background-color: #464858;
}
.buy a{
    text-decoration: none;
}
.buy p {
    color: #fff;
    background-color: #00c4f4;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
}
.buy p:hover{
    background-color: #6f42c1;
}


/*--mobile menu--*/

.mobile__menu__icon i{
    color: #fff;
}
.mobile__menu{
    background-color: hsl(213 65% 12%);
    font-size: 14px;
}
.mobile__bgr{
    background-color: #0b1d33;
    /* opacity: 0.8; */
}
.close i{
    font-size: 20px;
    color: #00c4f4;
}
.menu__baby li{
    list-style: none;
}
.menu__baby>li{
    list-style: none;
    border-top: solid 1px rgb(255 255 255 / 10%);
}
.chevron__blog>i, .chevron__home>i{
    background-color: #00c4f4;
    font-size: 12px;
    font-weight: 900;
    border-radius: 2px;
}
.menu__contact{
    border-top: solid 1px rgb(255 255 255 / 10%);
}
.menu__contact a{
    text-decoration: none;
}
.menu__contact li i{
    border: 1px solid rgb(255 255 255 / 10%);
    color: #fff;
    border-radius: 3px;
}
.fb:hover, .twt:hover, .in:hover, .lkn:hover, .ytb:hover{
    background-color: #00c4f4;
    -webkit-border-radius: 3px;
}
#open__menu:checked~.mobile__menu{
    display: unset;
    animation: open__menu 0.6s;
    animation-fill-mode: forwards;
}
#open__menu:checked~label .mobile__bgr{
    animation: unhide 0.6s;
    display: unset;
    animation-fill-mode: forwards;
}


/*----Banner----*/

.banner__content{
    color: #fff;
    font-size: 58px;
    font-weight: 600;
    font-family: Poppins;
    letter-spacing: 1px;
    letter-spacing: -0.03em;
    animation: banner__content 2s 0s;
}
.linkedin, .twitter, .pinterest, .intargram{
    border-radius: 50px;
    border: 1px solid #F3F3F3;
}
.banner__contact>div i{
    color: #081A39;

}
.scroll__content{  
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.515em;
    color: #081A39;
    opacity: 0.4;
}


/*----Count down----*/

.cd__container{
    background-color: #fff;
    box-shadow: 0px 34px 35px rgba(160, 171, 191, 0.21);
    border-radius: 20px;
}
.cd__container>p{
    color: #030B15;
    letter-spacing: -0.01em;
    font-size: 26px;
    margin-bottom: 35px;
    line-height: 1.88;
    font-weight: 600;
}
.number{
    font-size: 35px;
    font-weight: 600;
    color: #030B15;
    font-family: Poppins;
}
.time span{
    font-size: 14px;
    font-family: Outfit;
    color: #030B15;
    font-weight: 500;
    line-height: 1;
}
.day{
    border: solid 7px #56c4f4;
}
.hour{
    border: solid 7px #f2970f;
}
.minute{
    border: solid 7px #ee4682;
}
.second{
    border: solid 7px #56d175;
}


/*----About----*/

.about__img{
    animation: about__img 2s 0.2s;
}
.information{
    animation: information 2s 0.2s;
}
.h1{
    color: #564dca;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.28px;
    line-height: 24.5px;
}
.about__title{
    font-size: 45px;
    color: #030B15;
    line-height: 1.26;
    letter-spacing: -0.01em;
    font-family: Poppins;
    font-weight: 600;
}
.h2{
    color: #727885;
    font-size: 16px;
    line-height: 1.75;
}
.fa-solid{
    color: #564DCA;
    margin-right: 10px;
}
.about__download a{
    text-decoration: none;
}
.about__download p{
    color: #fff;
    background: #564DCA;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.about__download p:hover{
    background-color: #00C4F4;
}
.img__one{
    animation-name: img__one;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.img__two{
    animation: img__two 10s infinite linear;
}



/*----Why chose----*/

.why__title{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}
.why__maintitle{
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 1.2;
}
.why__content a{
    text-decoration: none;
}
.why__content p{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    font-family: Poppins;
    line-height: 1.27;
    letter-spacing: 0.8px;
}
.why__content a:hover p{
    color: #00C4F4;
}
.why__content span{
    font-size: 15px;
    line-height: 22px;
    color: #A4B4C3;
}
.mobile{
    animation: mobile 1s 0.2s;
}
.lifetime{
    animation: lifetime 1.5s 0.2s;
}
.protect{
    animation: protect 2s 0.2s;
}
.sercurity{
    animation: sercurity 2.5s 0.2s;
}


/*----Counter area----*/

.counter__area{

}
.counter__container{
    background: #FFFFFF;
    box-shadow: 0px 34px 35px rgba(160, 171, 191, 0.21);
    border-radius: 20px;
    padding: 64px 75px 33px;
}
.counter__container p{
    color: #030B15;
    letter-spacing: -0.02em;
    font-size: 48px;
    font-weight: 600;
    line-height: 0.85;
    margin-bottom: 8px;
}
.counter__container span{
    color: #646580;
    font-size: 16px;
    line-height: 1.6;
}


/*----Road map----*/

.roadmap__container>u{
    color: #564DCA;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.02em;
}
.map__title{
    font-size: 45px;
    color: #030B15;
    line-height: 1.26;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-family: Poppins;
}
.stage{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.blue .stage{
    color: #00C4F4;
}
.orange .stage{
    color: #FF9700;
}
.navy .stage{
    color: #007FF4;
}
.pink .stage{
    color: #FF4581;
}
.map__content>p{
    color: #030B15;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.62;
    font-family: Poppins;
}
.map__content>span{
    color: #727885;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
}


/*---Team leader----*/

.face img{
    filter: grayscale(100%);
    transition: 0.3s;
}
.leader__box>div:hover img{
    filter: grayscale(0);
}
.team__title{
    line-height: 1.2;
}
.team__title>h5{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.09em;
}
.leader__contact i{
    color: #fff;
}
.the__leaderghip{
    font-size: 42px;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-family: Poppins;
}
.team{
    color: #00C4F4;
    font-size: 42px;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-family: Poppins;
}
.name{
    font-size: 22px;
    font-weight: 500;
    font-family: Poppins;
}
.job{
    font-size: 16px;
    color: #A4B4C3;
    line-height: 1.75;
}
.leader__contact i{
    font-size: 13px;
    line-height: 13px;
}
.leader__ytb:hover i, .leader__twt:hover i,
.leader__fb:hover i, .leader__in:hover i{
    color: #00C4F4;
}
.william,.pena,.coper,.robert{
    animation-delay: 5s;
    animation-timing-function: ease-in-out;
}
.william{
    animation: mobile 1s 0.2s;
}
.pena{
    animation: lifetime 1.5s 0.2s;
}
.copper{
    animation: protect 2s 0.2s;
}
.robert{
    animation: sercurity 2.5s 0.2s;
}


/*----Download----*/

.dl__title{
    font-size: 45px;
    color: #030B15;
    line-height: 1.26;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-family: Poppins;
}
.download__img{
    opacity: 0;
    animation: information 2s 5s;
    animation-fill-mode: forwards;
}
.dl__information{
    opacity: 0;
    animation: about__img 2s 5s;
    animation-fill-mode: forwards;
}


/*----Faq----*/

.faq__title{
    font-size: 45px;
    color: #030B15;
    line-height: 1.26;
    font-weight: 600;
    font-family: Poppins;
    letter-spacing: -0.01em;
}
.faq__question{
    opacity: 0;
    animation: mobile 2s 8s ease-in-out;
    animation-fill-mode: forwards;
}
.faq__question>div{
    animation-duration: 0.5s;
}
.faq__question label{
    background-color: #fff;
    color: hsl(210 11% 15%);
    text-shadow: none;
    font-size: 24px;
    font-weight: 500;
    font-family: Poppins;
    line-height: 1.25;
    font-family: Poppins;
    cursor: pointer;
}
.faq__question label i{
    color: #132047;
    opacity: .3;
}
.answer{
    color: #727885;
    font-size: 18px;
    line-height: 1.55;
    transform: scale(1,0);
    transform-origin: top center;
}
.faq__question input:checked~label i{
    transform: rotate(-180deg);
    opacity: 1;
    transition: 0.5s;
}
.faq__question input:checked~.answer{
    animation: open__answer  0.5s ease;
    animation-fill-mode: forwards;
}
.faq__question input:checked~label{
    border-radius: 0;
}


/*----Contact----*/

.contact__title{
    font-size: 50px;
    letter-spacing: -0.03em;
    line-height: 1.2;
    font-weight: 600;
    font-family: Poppins;
}
.contact__content>div{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(246, 246, 246, 0.06);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    font-size: 15px;
    line-height: 146.49%;
}
.get__touch{
    opacity: 0;
    animation: about__img 1s 10s ease-in-out forwards;
}
.massage{
    opacity: 0;
    animation: information 1s 10s ease-in-out forwards ;

}
.massage>p{
    color: #fff;
    font-size: 30px;
    letter-spacing: -0.03em;
    line-height: 2;
    font-weight: 600;
    font-family: Poppins;
}
.user__name,.user__mail,textarea{
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(246, 246, 246, 0.06);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    width: 100%;
    letter-spacing: -0.02em;
    color: #030B15;
    font-weight: 500;
    font-size: 20px;
    padding: 17px 22px;
    line-height: 1.5;
}
.user__name:focus,.user__mail:focus,textarea:focus{
    background: #fff;
    border: 1px solid #fff;
}
.send{
    border-radius: 5px;
    background-color: #00C4F4;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1;
    border: none;
    color: #FFF;
}
.send:hover{
    background-color: #564DCA;
}
::placeholder{
    color: #687888;
}


/*----New letter----*/

.letter__box{
    background: #FFFF;
    box-shadow: 0px 26px 23px rgba(81, 98, 132, 0.06);
    border-radius: 10px;
}
.letter__title{
    color: #030B15;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: -1px;
    font-weight: 600;
    font-family: Poppins;
}
.address__email{
    color: #030B15;
    border: 1px solid #ECEEF3;
    border-radius: 4px;
    background: #F3F6FC;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}
.subscribe{
    color: #fff;
    background: #564DCA;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1;
    box-shadow: 0px 6px 22px rgba(6, 34, 51, 0.22);
}


/*----Footer----*/

.footer__menu a{
    text-decoration: none;
    color: #030B15;
    font-weight: 500;
    font-size: 16px;
}
.footer__contact a{
    color: #0A142F;
    opacity: .3;
    font-size: 24px;
    line-height: 1;
    text-decoration: none;
}
.copyright{
    color: #282F3B;
    font-size: 15px;
    font-weight: 500;
}
.footer__menu2 a{
    text-decoration: none;
    color: #0A142F;
    font-size: 15px;
    font-weight: 500;
}
.footer__arrow{
    border-radius: 100%;
    background: #564DCA;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__arrow i{
    color: #fff;
    font-size: 17px;
    margin: 0;
    rotate: -180deg;
}
.scroll__top>p{
    display: block;
    color: #0A142F;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.75;
}
.hover:hover{
    color: #00C4F4;
    opacity: 1;
}
.scroll__top .hover:hover{
    background-color: #00C4F4;
}
