*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
    transition-duration: 0.2s;
    scroll-behavior: smooth;
}


/*----Preloading----*/

#preloading{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.spiner{
    display: block;
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
}
.spinner > div {
    display: inline-block;   
    height: 15px;
    width: 6px;
}



/*----Header----*/

header{
    position: absolute;
    display: flex;
    padding: 30px 0;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    justify-content: center;  
    z-index: 99;
}
.main__header{
    width: 100%;
}
#sticky__header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.header__container{
    flex-grow: 1;
    position: relative; 
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    max-width: 1520px;
    align-items: center;
    padding: 0 18px;
    padding-right: 30px;
 }
 .main__menu{
    position: relative;
    flex-grow: 1;
    list-style: none;
    display: flex;
    box-sizing: border-box;
    margin-left: 140px;
 }
 .main__menu>li{
    display: block;
    margin-right: 65px;
 }
 .home, .blog{
    position: relative;
 }
 .home__list, .blog__list{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    min-width: 230px;
    padding: 18px 25px 18px;
 }
 .header__action{
    display: flex;
    align-items: center;
 }
 #langue{
    position: relative;
    display: flex;
    align-items: center;
     
}
#langue>ul{
     position: absolute;
     top: 40px;
     left: -10px;
 }
 #langue>ul>li{
     transition: 0.5s;
 }
 .chevron{
     margin-left: 10px;
 }
 .chevron>i{
    font-size: 12px;
 }
 .buy{
     padding-left: 60px;
 }
.header__action>p{
    margin-left: 60px;
    content: "";
    height: 28px;
    width: 2px;
}
.buy p{
    padding: 20px 48px;
}


/*----Menu mobile----*/

.mobile__menu__icon{
    display: none;
}
.mobile__menu{
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    width: 300px;
    height: 100%;
    z-index: 999;
    transform: scale(0,1);
    transform-origin: right center;
    transition-duration: s;
    display: none;
}
#open__menu{
    display: none;
}
.mobile__menu__icon label i{
    cursor: pointer;
}
#open__menu:checked~.mobile__menu,
#open__menu:checked~.mobile__bgr{
    display: unset;
    transform: scale(1,1);
}
.mobile__menu>#close__menu:checked .mobile__menu,
.mobile__menu>#close__menu:checked .mobile__bgr
{
    display: none;
    transform: scale(0,1);
}
.mobile__bgr{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
    transform: scale(0,1);
    transform-origin: right center;
    transition-duration: 0.3s;
    opacity: 0;
    display: none;
}
.mobile__logo{
    padding: 30px 25px;
}
.mobile__logo img{
    width: 50%;
}
.close{
    position: fixed;
    top: 30px;
    right: 25px;
    z-index: 1000;
}
.mobile__bgr:checked{
        background-color: none;
}
.menu__baby>li{
    padding: 12px 15px 12px 25px;
}
ul>.home__baby{
    padding-top: 0;
}
ul>.home__baby, ul>.blog__baby{
    display: flex;
    flex-direction: column;
    padding: 4px 15px 4px 25px;
}
.chevron__home, .chevron__blog{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chevron__blog>i, .chevron__home>i{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 32px;
    height: 32px;
}
.home__list__baby, .blog__list__baby{
    display: none;
}
.menu__contact>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 20px;
    list-style: none;
}
.menu__contact li i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
}

    
/*---- Banner ----*/

#banner{
    position: relative;
    padding-top: 225px;
}
.banner__backgr{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../IMG/banner_bg02.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100% - 164px);
    z-index: -1;
 }
 .banner__backgr::before{
    content: "";
    position: absolute;
    bottom: -40px;
    background-image: url(https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_shape.svg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 722px;
    z-index: 0;
 }
 .banner__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;

}
.banner__content{
    text-align: center;
    margin-bottom: 60px;
}

.banner__contact{
    position: absolute;
    left: 7vw;
    bottom: 100px;
    display: flex;
    flex-direction: column;
}
.linkedin, .twitter, .pinterest, .intargram{
    display: flex;
    align-items: center;
    padding: 10px 0;
    text-align: start;
    box-sizing: border-box;
}
.linkedin, .twitter, .pinterest{
    margin-bottom: 25px;
}
.banner__contact>div i{
    text-decoration: none;
    display: inline-block;
    text-align: start;
    padding: 0 12px;
}
.banner__contact>div>p{
    padding-right: 12px;
    display: none;
}

.banner__scroll{
    position: absolute;
    right: 4vw;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner__scroll img{
    margin-top: 120px;
    width: 26px;
}
.scroll__content{
    transform: rotate(-90deg);   

}


/*----Count down----*/

#count__down{
    padding: 0 15px;
}
.cd__container{
    position: relative;
    max-width: 1200px;
    padding: 0 15px;
    padding: 55px 50px 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cd__container::after{
    content: "";
    position: absolute;
    bottom: -10px;
    background: #00C4F4;
    width: 80%;
    height: 80%;
    z-index: -1;
    opacity: 0.08;
    border-radius: 20px;
}
.cd__container>p{
    margin-bottom: 35px;
}
.time{
    display: flex;
    column-gap: 115px;
    padding: 0 120px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.time>div{
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 140px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
}


/*----About----*/

#about{
    padding: 130px 0;
    position: relative;
}
.about__container{
    display: flex;
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.about__img{
    width: 50%;
    text-align: center;
}
.information{
    width: 50%;
}
.h1{
    margin-bottom: 18px;
}
.about__title{
    margin-bottom: 15px;
}
.h2{
    margin-bottom: 20px;
    width: 80%;
}
.about__list>ul{
    margin-bottom: 35px;
}
.about__list>ul li{
    display: block;
    margin-bottom: 15px;
}
.about__download p{
    width: 275px;
    margin-top: 45px;
    padding: 25px 42px;
}
.img__one{
    position: absolute;
    bottom: 100px;
    left: 140px;
}
.img__two{
    position: absolute;
    bottom: 180px;
    right: 120px;
}


/*----Why chose----*/

#why__chose{
    position: relative;
    padding: 130px 0 245px;
    background-image: url(../IMG/choose_bg.jpg);
    background-position: center;
    background-size: cover;
}
#why__chose::before{
    content: "";
    background-image: url(../IMG/choose_shape01.png);
    background-position: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 25px;
    z-index: 1;
}
#why__chose::after{
    content: "";
    background-image: url(../IMG/choose_shape02.png);
    background-position: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 19px;
    z-index: 1;
}
.why__container{
    max-width: 1200px;
    display: flex;
    padding: 0 15px;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.why__title{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}
.why__title::before{
    content: "";
    box-sizing: border-box;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #00C4F4;
}
.why__title::after{
    content: "";
    box-sizing: border-box;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #00C4F4;
}
.why__maintitle{
    margin-bottom: 70px;
    width: 50%;
}
.why__content{
    display: flex;
    text-align: start;
    justify-content: center;
    align-items: center;
}
.why__content>div{
    width: 25%; 
}
.why__content img{
    margin-bottom: 35px;
}
.why__content p{
    display: block;
    margin-bottom: 25px;
    width: 77%;
}
.why__content span{
    display: block;
    width: 77%;
}


/*----Count area----*/


.counter__container{
    position: relative;
    display: flex;
    margin-top: -120px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px;
    max-width: 1170px;
    background: #FFFFFF;
    box-shadow: 0px 34px 35px rgba(160, 171, 191, 0.21);
    border-radius: 20px;
    padding: 64px 75px 33px;
    z-index: 2;
}
.counter__container >div{
    display: flex;
    margin-bottom: 30px;
    width: 33.333333%;
    text-align: start;
    align-items: center;
}
.counter__container img{
    margin-right: 30px;
}
