*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
    transition-duration: 0.2s;
    scroll-behavior: smooth;
}


/*----Preloading----*/

#preloading{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.spiner{
    display: block;
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
}
.spinner > div {
    display: inline-block;   
    height: 15px;
    width: 6px;
}



/*----Header----*/

header{
    position: fixed;
    background-color: #030B15;
    display: flex;
    padding: 30px 0;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;  
    z-index: 99;
}
.main__header{
    width: 100%;
}
#sticky__header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.header__container{
    flex-grow: 1;
    position: relative; 
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    max-width: 1520px;
    align-items: center;
    padding: 0 18px;
    padding-right: 30px;
 }
 .main__menu{
    position: relative;
    flex-grow: 1;
    list-style: none;
    display: flex;
    box-sizing: border-box;
    margin-left: 140px;
 }
 .main__menu>li{
    display: block;
    margin-right: 65px;
 }
 .home, .blog{
    position: relative;
 }
 .home__list, .blog__list{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    min-width: 230px;
    padding: 18px 25px 18px;
 }
 .header__action{
    display: flex;
    align-items: center;
 }
 #langue{
    position: relative;
    display: flex;
    align-items: center;
     
}
#langue>ul{
     position: absolute;
     top: 40px;
     left: -10px;
 }
 #langue>ul>li{
     transition: 0.5s;
 }
 .chevron{
     margin-left: 10px;
 }
 .chevron>i{
    font-size: 12px;
 }
 .buy{
     padding-left: 60px;
 }
.header__action>p{
    margin-left: 60px;
    content: "";
    height: 28px;
    width: 2px;
}
.buy p{
    padding: 20px 48px;
}


/*----Menu mobile----*/

.mobile__menu__icon{
    display: none;
}
.mobile__menu{
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    width: 300px;
    height: 100%;
    z-index: 999;
    opacity: 0;
    transform: scale(0,1);
    transform-origin: right center;
    /* display: none;    */
    /* animation: open__menu 1s; */
    transition: 0.7s ease;
}
#open__menu{
    display: none;
}
.mobile__menu__icon label i{
    cursor: pointer;
}
.mobile__bgr{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
    /* opacity: 0; */
    display: none;
}
.mobile__logo{
    padding: 30px 25px;
}
.mobile__logo img{
    width: 50%;
}
.close{
    position: fixed;
    top: 30px;
    right: 25px;
    z-index: 1000;
}
/* .mobile__bgr:checked{
        background-color: none;
} */
.menu__box{
    position: relative;
}
.menu__baby>li{
    padding: 12px 15px 12px 25px;
}
ul>.home__baby{
    
}
ul>.home__baby, ul>.blog__baby{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.chevron__home, .chevron__blog{
    display: flex;
    justify-content: start;
    align-items: center;
}
.chevron__home__baby,.chevron__blog__baby{
    position: absolute;
    top: 8px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 32px;
    height: 32px;
    transition: 0.5s ease;
}
.chevron__blog>i, .chevron__home>i{
}
li.home__list__baby, li.blog__list__baby{
    /* transform: scale(1,0);
    transform-origin: top center;
    transition: 2s;
    height: 0;
    opacity: 0; */
    font-size: 15px;
    padding: 0;
    /* padding-left: 45px; */
    display: flex;
    flex-direction: column;
}
li.home__list__baby a, li.blog__list__baby a{
    padding: 12px 15px 12px 45px;
}

/* .home__list__baby a, .blog__list__baby a{
    display: block;
    margin-left: 20px;
    line-height: 24px;
    padding: 10px 60px 10px 25px;
    text-transform: capitalize;
    border-top: 1px solid rgb(255 255 255 / 10%);
} */
.menu__contact>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 20px;
    list-style: none;
}
.menu__contact li i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
}

.menu__baby>li:not(.fixed__home),.menu__contact{
    transform: translateY(-97.5px);
    transition: 0.5s;
}
.menu__contact,li.translate2.blog__translate{
    transform: translateY(-195px);
    background-color: #0b1d33;
}

    
/*---- Banner ----*/

#banner{
    position: relative;
    padding-top: 225px;
}
.banner__backgr{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../IMG/banner_bg02.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100% - 164px);
    z-index: -1;
 }
 .banner__backgr::before{
    content: "";
    position: absolute;
    bottom: -40px;
    background-image: url(https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_shape.svg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 722px;
    z-index: 0;
 }
 .banner__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;

}
.banner__content{
    text-align: center;
    margin-bottom: 60px;
}

.banner__contact{
    position: absolute;
    left: 7vw;
    bottom: 100px;
    display: flex;
    flex-direction: column;
}
.linkedin, .twitter, .pinterest, .intargram{
    display: flex;
    align-items: center;
    padding: 10px 0;
    text-align: start;
    box-sizing: border-box;
}
.linkedin, .twitter, .pinterest{
    margin-bottom: 25px;
}
.banner__contact>div i{
    text-decoration: none;
    display: inline-block;
    text-align: start;
    padding: 0 12px;
}
.banner__contact>div>p{
    padding-right: 12px;
    display: none;
}

.banner__scroll{
    position: absolute;
    right: 4vw;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner__scroll img{
    margin-top: 120px;
    width: 26px;
}
.scroll__content{
    transform: rotate(-90deg);   

}


/*----Count down----*/

#count__down{
    padding: 0 15px;
}
.cd__container{
    position: relative;
    max-width: 1200px;
    padding: 0 15px;
    padding: 55px 50px 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cd__container::after{
    content: "";
    position: absolute;
    bottom: -10px;
    background: #00C4F4;
    width: 80%;
    height: 80%;
    z-index: -1;
    opacity: 0.08;
    border-radius: 20px;
}
.cd__container>p{
    margin-bottom: 35px;
}
.time{
    display: flex;
    column-gap: 115px;
    padding: 0 120px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.time>div{
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 140px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
}


/*----About----*/

#about{
    padding: 130px 0;
    position: relative;
}
.about__container{
    display: flex;
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.about__img{
    width: 50%;
    text-align: center;
}
.information{
    width: 50%;
}
.h1{
    margin-bottom: 18px;
}
.about__title{
    margin-bottom: 15px;
}
.h2{
    margin-bottom: 20px;
    width: 80%;
}
.about__list>ul{
    margin-bottom: 35px;
}
.about__list>ul li{
    display: block;
    margin-bottom: 15px;
}
.about__download p{
    width: 275px;
    margin-top: 45px;
    padding: 25px 42px;
}
.img__one{
    position: absolute;
    bottom: 100px;
    left: 140px;
}
.img__two{
    position: absolute;
    bottom: 180px;
    right: 120px;
}


/*----Why chose----*/

#why__chose{
    position: relative;
    padding: 130px 0 245px;
    background-image: url(../IMG/choose_bg.jpg);
    background-position: center;
    background-size: cover;
    z-index: 0;
}
#why__chose::before{
    content: "";
    background-image: url(../IMG/choose_shape01.png);
    background-position: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 25px;
    z-index: -1;
}
#why__chose::after{
    content: "";
    background-image: url(../IMG/choose_shape02.png);
    background-position: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 19px;
    z-index: -1;
}
.why__container{
    max-width: 1200px;
    display: flex;
    padding: 0 15px;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.why__title{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}
.why__title::before{
    content: "";
    box-sizing: border-box;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #00C4F4;
}
.why__title::after{
    content: "";
    box-sizing: border-box;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #00C4F4;
}
.why__maintitle{
    margin-bottom: 70px;
    width: 50%;
}
.why__content{
    display: flex;
    text-align: start;
    justify-content: center;
    align-items: center;
}
.why__content>div{
    width: 25%; 
}
.why__content img{
    margin-bottom: 35px;
}
.why__content p{
    display: block;
    margin-bottom: 25px;
    width: 77%;
}
.why__content span{
    display: block;
    width: 77%;
}


/*----Count area----*/

.counter__area{
    position: relative;
    max-width: 1170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.counter__container{
    position: relative;
    display: flex;
    margin-top: -120px;
    margin-bottom: 130px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px;
    /* z-index: 2; */
}
.counter__container::after{
    content: "";
    position: absolute;
    bottom: -10px;
    background: #00C4F4;
    width: 80%;
    height: 80%;
    z-index: -1;
    opacity: 0.08;
    border-radius: 20px;
}
.counter__container >div{
    display: flex;
    margin-bottom: 30px;
    width: 33.333333%;
    text-align: start;
    align-items: center;
}
.counter__container img{
    margin-right: 30px;
}


/*----Roadmap----*/

.roadmap__container{
    position: relative;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.roadmap__container>u{
    margin-bottom: 18px;
}
.map__title{
    width: 40%;
    text-align: center;
    margin-bottom: 65px;
}
.main__map{
    display: flex;
    flex-direction: column;
}
.boxmap,.boxmap__bottom{
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 80px;
}
.boxmap::before,.boxmap__bottom::before{
    position: absolute;
    top: 44px;
    left: 0;
    content: "";
    display: block;
    height:8px;
    width: 100%;
    background: linear-gradient(294.72deg, #FF4581 9.05%, #4388DD 79.28%);
    opacity: 0.1;
}
.top__map, .bottom__map{
    /* padding-right: 25px; */
    position: relative;
    display: flex;
    margin-left: 60px;
    margin-right: 18px;
    align-items: flex-start;
}
.midq4, .midq1, .midq2, .endq2{
    width: 25%;
    position: relative;
}
.midq4 .map__content{
    max-width: 235px;
}
.midq1 .map__content{
    
}
.midq2 .map__content{

}
.endq2 .map__content{
    max-width: 200px;
}
.stage{
    margin-bottom: 32px;
}
.map__content>p{
    margin-bottom: 20px;
}
.blue .map__content{
    position: relative;
    margin-left: 55px;
    padding-left: 15px;
    padding-top: 70px;
    border-left: solid 1px #00C4F4;
}
.blue .dot{
    position: absolute;
    display: block;
    left: -8px;
    top: -10px;
    width: 16px;
    height: 16px;
    background: #00C4F4;
    border-radius: 50%;
}
.blue .dot::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    transform: translate(-25%, -25%);
    width: 32px;
    height: 32px;
    background: #00C4F4;
    border-radius: 50%;
    opacity: 0.1;
}
.orange .map__content{
    position: relative;
    margin-left: 55px;
    padding-left: 15px;
    padding-top: 70px;
    border-left:solid 1px #FF9700;
}
.orange .dot{
    position: absolute;
    display: block;
    left: -8px;
    top: -12px;
    width: 16px;
    height: 16px;
    background: #FF9700;
    border-radius: 50%;
}
.orange .dot::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    transform: translate(-25%, -25%);
    width: 32px;
    height: 32px;
    background: #FF9700;
    border-radius: 50%;
    opacity: 0.1;
}
.navy .map__content{
    position: relative;
    margin-left: 55px;
    padding-left: 15px;
    padding-top: 70px;
    border-left:solid 1px #007FF4;
}
.navy .dot{
    position: absolute;
    display: block;
    left: -8px;
    top: -12px;
    width: 16px;
    height: 16px;
    background: #007FF4;
    border-radius: 50%;
}
.navy .dot::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    transform: translate(-25%, -25%);
    width: 32px;
    height: 32px;
    background: #007FF4;
    border-radius: 50%;
    opacity: 0.1;
}
.pink .map__content{
    position: relative;
    margin-left: 55px;
    padding-left: 15px;
    padding-top: 70px;
    border-left:solid 1px #FF4581;
}
.pink .dot{
    position: absolute;
    display: block;
    left: -8px;
    top: -12px;
    width: 16px;
    height: 16px;
    background: #FF4581;
    border-radius: 50%;
}
.pink .dot::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    transform: translate(-25%, -25%);
    width: 32px;
    height: 32px;
    background: #FF4581;
    border-radius: 50%;
    opacity: 0.1;
}


/*----Team leader----*/

#team__leader{
    position: relative;
    padding: 130px 0;
    background-image: url(../IMG/choose_bg.jpg);
    background-position: center;
    background-size: cover;
    z-index: 0;
}
#team__leader::before{
    content: "";
    background-image: url(../IMG/choose_shape01.png);
    background-position: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 25px;
    z-index: -1;
}
#team__leader::after{
    content: "";
    background-image: url(../IMG/choose_shape02.png);
    background-position: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 19px;
    z-index: -1;
}
.team__container{
    max-width: 1200px;
    display: flex;
    /* padding: 0 15px; */
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.team__title{
    max-width: 400px;
    margin-bottom: 60px;
}
.team__title h5{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 25px;
}
.team__title h5::before{
    content: "";
    box-sizing: border-box;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #00C4F4;
}
.team__title h5::after{
    content: "";
    box-sizing: border-box;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #00C4F4;
}
.leader__box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.leader__box>div{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leader__box img{
    padding: 0;
    margin-bottom: 35px;
}
.name,.job{
    margin-bottom: 10px;
}
.leader__contact ul{
    list-style: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}


/*----Download----*/

#download{
    padding: 150px 0 140px;
    position: relative;
}
.download__container{
    display: flex;
    max-width: 1200px;
    /* padding: 0 15px; */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.download__img{
    padding: 0 15px;
    width: 58.33333333%;
    text-align: center;
}
.dl__information{
    width: 41.66666667%;
    padding: 0 15px;
}
.download__container .h1{
    margin-bottom: 18px;
}
.dl__title{
    margin-bottom: 20px;
}
.download__container .h2{
    margin-bottom: 40px;
}
.dl__list ul{
    display: flex;
    column-gap: 20px;
    align-items: flex-end;
}
.dl__list>ul li{
    display: block;
}


/*----Faq----*/

#faq{
    background: #F3F6FC;
    padding: 120px 0 130px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}
.faq__bgr{
    position: absolute;
    bottom: 10%;
    z-index: -1;
}
.faq__container{
    position: relative;
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faq__title{
    margin-bottom: 60px;
}
.faq__question{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: start;
}
#open__answer1,#open__answer2,#open__answer3,
#open__answer4,#open__answer5{
    display: none;
}
.faq__question>div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.faq__question label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 40px 37px 55px;
    border-radius: 100px;
}
.answer{
    height: 0;
    padding: 0 40px 0px 55px
}
.faq__img1{
    position: absolute;
    bottom: -60px;
    left: -180px;
}
.faq__img2{
    position: absolute;
    top: 30px;
    right: -60px;
}


/*----Contact----*/

#contact{
    position: relative;
    background-image: url(../IMG/choose_bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 130px 0 250px;
    z-index: 0;
}
#contact::before{
    content: "";
    background-image: url(../IMG/choose_shape01.png);
    background-position: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 25px;
    z-index: -1;
}
#contact::after{
    content: "";
    background-image: url(../IMG/choose_shape02.png);
    background-position: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 19px;
    z-index: -1;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.contact__container{
    /* display: flex; */
}
.contact__box{
    padding: 0 40px;
    display: flex;
    /* align-items: center; */
    text-align: start;
    /* justify-content: space-between; */
}
.get__touch{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff ;
    width: 50%;
}
.contact__title{
    margin-bottom: 35px;
}
.contact__content{
    display: flex;
    flex-direction: column;
    /* row-gap: 15px; */
}
.contact__content>div{
    display: flex;
    align-items: center;
    padding: 22px 32px;
    width: 74%;
    margin-bottom: 15px;
    column-gap: 22px;
}
.massage{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left:  15px;
}
.massage>p{
    margin-bottom: 35px;
}
.fill{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.user__name,.user__mail,textarea{
    padding: 17px 22px;
    height: 66px;
    margin-bottom: 20px;
    display: block;
}
.send{
    padding: 25px 42px;
    width:max-content;
    cursor: pointer;
}


/*----New letter----*/

.letter__container{
    margin-top: -120px;
    z-index: 1;
    width: 100%;  
}
.letter__box{
    padding: 64px 50px;
    display: flex;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.letter__title{
    width: 42.5%;
}
.letter__form{
    position: relative;
    width: 58.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.address__email{
    width: 100%;
    height: 72px;
    padding: 26px 215px 26px 25px;
}
.subscribe{
    position: absolute;
    right: 12px;
    top: 8px;
    bottom: 8px;
    padding: 21px 47px;
}


/*----Footer----*/

.footer__container{

}
.footer__top{
    padding: 70px 40px 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__menu{
    width: 66.6666667%;
    display: flex;
    column-gap: 60px;
}
.footer__contact{
    display: flex;
    width: 33.3333333%;
    column-gap: 40px;
    align-items: center;
    justify-content: flex-end;
}
.footer__bottom{
    padding: 70px 40px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    text-align: center;
}
.footer__menu2{
    display: flex;column-gap: 30px;
}
.scroll__top{
    display: flex;
    flex-direction: column;
    margin-top: -150px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    align-items: center;
    justify-content: center;
}
.footer__arrow{
    display: block;
    width: 46px;
    height: 46px;
}
.scroll__top>p{
    margin-top: 15px;
}
