  *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: Outfit;
     transition: 0.3s;
 }
 
 header{
    position: relative;
    display: flex;
    padding: 30px 0;
    width: 100%;
    height: 100px;
    color: #fff;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
    font-weight: 500;
    letter-spacing: 1px;
    justify-content: center;

 }
 .main__header{
     width: 100%;
 }
 #sticky__header{
    /* position: fixed;
    top: 0;
    left: 0; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.header__container{
    flex-grow: 1;
    position: relative; 
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    max-width: 1520px;
    align-items: center;
    padding: 0 18px;
    padding-right: 30px;
    /* background-color:  #050b15; */
 }
 .main__menu{
    flex-grow: 1;
    list-style: none;
    display: flex;
    box-sizing: border-box;
    margin-left: 140px;
 }
 .main__menu>li{
    display: block;
    margin-right: 65px;
 }
 .header__action{
    display: flex;
    align-items: center;
 }
 #langue{
    position: relative;
    display: flex;
    align-items: center;
     
}
 #langue>ul{
     position: absolute;
     top: 40px;
     left: -10px;
     list-style: none;
     line-height: 1.8;
     box-sizing: border-box;
     padding: 10px 45px 10px 15px;
     border-radius: 5px;
     background: #0B1D33;
     visibility: hidden;
     transform-origin: top center;
     opacity: 0;
     transform: perspective(400px) rotateX(-45deg);
     transition: 0.5s;
 }
 #langue>ul>li{
     transition: 0.5s;
 }
 #langue:hover ul{
     visibility: unset;
     opacity: 1;
     transform: perspective(400px) rotateX(0deg);
 }
 #langue>ul>li:hover {
     color: #11adec;
 }
 .chevron{
     color: #11adec;
     display: block;
     font-size: 10px;
     margin-left: 10px;
 }
 .buy{
     padding-left: 60px;
 }
 .header__action>p{
     margin-left: 60px;
     content: "";
     height: 28px;
     width: 2px;
     background-color: #464858;
    }
    .buy>p{
        padding: 20px 48px;
        background-color: #00c4f4;
        border-radius: 5px;
        font-weight: 700;
        font-size: 14px;
    }
    .mobile__menu{
        display: none;
    }

    
/*---- Banner ----*/

#banner{
    position: relative;
    padding-top: 225px;
}
.banner__backgr{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../IMG/banner_bg02.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100% - 164px);
    z-index: -1;
 }
 .banner__backgr::before{
    content: "";
    position: absolute;
    bottom: -40px;
    background-image: url(https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_shape.svg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 722px;
    z-index: 0;
 }
 .banner__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;

}
.banner__content{
    color: #fff;
    font-size: 58px;
    font-weight: 600;
    font-family: Poppins;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 60px;
}

.banner__contact{
    position: absolute;
    left: 7vw;
    bottom: 100px;
    display: flex;
    flex-direction: column;
}
.linkedin, .twitter, .pinterest, .intargram{
    display: flex;
    align-items: center;
    padding: 10px 0;
    text-align: start;
    box-sizing: border-box;
    border-radius: 50px;
    border: solid 1px #11adec;
}
.linkedin, .twitter, .pinterest{
    margin-bottom: 25px;
}
.banner__contact>div>i{
    display: inline-block;
    text-align: start;
    padding: 0 12px;
}
.banner__contact>div>p{
    padding-right: 12px;
}

.banner__scroll{
    position: absolute;
    right: 4vw;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner__scroll>img{
    margin-top: 100px;
    width: 26px;
}
.scroll__content{
    transform: rotate(-90deg);   

}


/*----Count down----*/

.cd__container{
    position: relative;
    max-width: 1200px;
    padding: 0 15px;
    padding: 55px 50px 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px coral;
    background-color: #FFFF;
}
.cd__container::after{
    content: "";
    position: absolute;
    bottom: -10px;
    background: #00C4F4;
    width: 80%;
    height: 80%;
    z-index: -1;
    opacity: 0.08;
}
.cd__container>p{
    margin-bottom: 35px;
    line-height: 1.88;
}
.time{
    display: flex;
    border: solid 1px #00c4f4;
    column-gap: 115px;
    padding: 0 120px;

}
.time>div{
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 140px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
    border: solid 7px chocolate;
}