/* Extra large devices (large desktops, 1800px and up) */
@media screen and (min-width: 1800.99px ) {
    
}

/* Extra large devices (large desktops, 1500px and up) */
@media screen and (max-width: 1799.99px ) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1499.99px ) {


    /*----Header----*/

    header{
        padding: 14px 0;
        font-size: 14px;
    }
    .header__container{
        max-width: 1280px;
        padding-right: 18px;
    }
    #logo{
        transform: scale(0.75);
    }  
    .main__menu{
        margin-left: 80px;
    } 
    .main__menu>li{
        margin-right: 40px;
    }
    .buy{
        padding-left: 30px;
    }
    .header__action>p{
        margin-left: 30px;
        height: 20px;
        width: 2px;
    }
    .buy>p{
        padding: 15px 35px;
    }


    /*----Banner----*/

    #banner{
        padding-top: 140px;
    }
    .banner__backgr::before{
        bottom: -80px;
        height: 600px;
    }
    .banner__container{
        margin-top: 40px;
    }
    .banner__container>img{
        width: 700px;
    }
    .banner__contact{
        left: 4vw;
    }

    .banner__scroll{
        right: 1vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 1199.99px ){
       

    /*----Header----*/

    .header__container{
        max-width: 1199px;
        padding: 0 15px 0 0;
    }
    .main__menu{
        margin-left: 40px;
    }
    #langue{
        display: none;
    }
    .buy{
        padding-left: 20px;
    }
    .header__action>p{
        margin-left: 0;
    }


    /*----Banner---*/

    #banner{
        padding-top: 120px;
    }
    .banner__backgr{
        height: calc(100% - 100px);
    }
    .banner__backgr::before{
        bottom: -48px;
        height: 480px;
    }
    .banner__container{
        max-width: 860px;
        margin-top: 40px;
    }
    .banner__content{
        margin-bottom: 40px;
        font-size: 45px;
        letter-spacing: -0.45px;
    }
    .banner__container>img{
        width: 600px;
    }
    .banner__contact{
        display: none;
    }

    .banner__scroll{
        display: none;
    }


    /*----Count down----*/

    .cd__container{
        max-width: 940px;
    }
    .time{
        padding: 0 25px;
        column-gap: 70px;
    }


    /*----About---*/

    .about__container{
        max-width: 940px;
    }
    .about__img>img{
        max-width: 95%;
    }


    /*----Why chose----*/

    .why__container{
        max-width: 940px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 991.99px ) {
       

    /*----Header----*/

    header{
        padding: 0px 0;
    }
    .header__container{
        max-width: 740px;
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-right: auto;
    }
    .main__menu{
        display: none;
    }
    #langue{
        display: none;
    }
    .header__action>p{
        display: none;
    }
    .mobile__menu{
        display: unset;
        font-size: 30px;
        margin-left: 40px;
    }


    /*----Banner---*/

    .banner__backgr::before{
        bottom: -10px;
        height: 400px;
    }
    .banner__container{
        max-width: 700px;
        margin-top: 40px;
    }
    .banner__content{
        margin-bottom: 40px;
        font-size: 54px;
        letter-spacing: -0.45px;
        line-height: 1.25;
    }
    
    
    /*----Count down----*/
    
    .cd__container{
        max-width: 700px;
    }
    .time{
        column-gap: 30px;
        flex-wrap: wrap;
        row-gap: 30px;
        padding: 0;
    }


    /*----About---*/

    .about__container{
        flex-direction: column;
        max-width: 700px;
    }
    .about__img{
        width: 100%;
        margin-bottom: 50px;
    }
    .information{
        width: 100%;
    }
    .img__one{
        display: none;
    }
    .img__two{
        bottom: 70px;
    }


    /*----Why chose----*/

    .why__content{
        flex-wrap: wrap;
    }
    .why__content>div{
        width: 50%;
    }
    .why__container{
        max-width: 700px;
    }
    .mobile, .lifetime{
        margin-bottom: 60px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 767.99px) {
       

    /*----Header----*/

    .header__container{
        max-width: 540px;
    }
    .buy{
        display: none;
    }


    /*---Banner----*/

    #banner{
        padding-top: 80px;
    }
    .banner__backgr{
        height: calc(100% - 100px);
    }
    .banner__backgr::before{
        bottom: -40px;
        height: 280px;
    }
    .banner__container{
        max-width: 530px;
        margin-top: 40px;
    }
    .banner__content{
        margin-bottom: 40px;
        font-size: 40px;
        letter-spacing: -0.45px;
    }
    .banner__container>img{
        width: 510px;
    }


    /*----Count down*/

    .cd__container{
        max-width: 540px;
        padding: 35px 25px;
    }
    .time{
        column-gap: 25px;
    }
    .time>div{
        width: 110px;
        height: 110px;
    }


    /*----About---*/

    .about__container{
        max-width: 540px;
    }
    .img__two{
        bottom: 50px;
        right: 100px;
    }


    /*----Why chose----*/

    .why__container{
        max-width: 540px;
    }
}

/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 575.99px) {
       

    /*----Header----*/

    .header__container{
        max-width: 580px;
    }
    .buy{
        display: none;
    }


    /*---Banner----*/

    #banner{
        padding-top: 80px;
    }
    .banner__backgr{
        height: calc(100% - 100px);
    }
    .banner__backgr::before{
        bottom: -50px;
        height: 270px;
    }
    .banner__container{
        max-width: 530px;
        margin-top: 40px;
    }
    .banner__content{
        margin-bottom: 40px;
        font-size: 32px;
        letter-spacing: -0.45px;
    }
    .banner__container>img{
        width: 90vw;
    }


    /*----Count down*/

    .time{
        column-gap: 25px;
    }
    .time>div{
        width: 110px;
        height: 110px;
    }


    /*----About---*/

    .img__two{
        bottom: 35px;
        right: 12.5vw;
    }


    /*----Why chose----*/

    .why__container{
        max-width: 440px;
    }
    .why__content{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .why__content>div{
        width: 100%;
    }
    .why__content p{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .why__content span{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}